/* Reports.css */

.maincontainer {
  margin-left: 100px;
  padding: 80px 20px 20px; 
  flex-grow: 1;
  max-height: 700px;
  overflow-y: auto;
}
  
  .maintitle {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .maintitle h3 {
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
  }
  
  .reports-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .cards {
    background-color: #f8f9fa !important;
    padding: 20px !important;
    border-radius: 8px !important;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;;
  }
  
  .cards h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
  }
  
  .cards p {
    font-size: 24px;
    font-weight: bold;
    color: #2c3e50;
  }

 .chart-cards {
  border: 1px solid gray;
 }

  .chart-cards h3 {
    text-align: center;
  }
  
  .charts-container {
    background-color:rgb(158, 158, 158) !important;;
    padding: 20px !important;;
    border-radius: 8px !important;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;;
  }
  
  .charts-container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .refresh-btn {
    border: 1px solid;
    border-radius: 3px;
    background: none;
    color: rgb(177, 177, 177);
    margin-left: 10px;
  }

  .refresh-btn:hover {
    color: rgb(112, 112, 112);
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .reports-container {
      flex-direction: column;
    }
  
    .cards,
    .charts-container {
      width: 100%;
    }
  }